%p#notice= notice

%p
  %b Name:
  = @case_study.name
%p
  %b Prog type:
  = @case_study.prog_type
%p
  %b Description:
  = @case_study.description
%p
  %b Cs image:
  = @case_study.cs_image
%p
  %b Location:
  = @case_study.location

= link_to 'Edit', edit_case_study_path(@case_study)
\|
= link_to 'Back', case_studies_path
